input{
    margin-left: 45%;
}

h1, h2 {
    text-align: center;
}

#iniciar{
    margin-left: 47%;
}

button {
    width: 180px;
    height: 180px;
}
table {
    width: 15%;
    margin-left: 36%;
}

#reiniciar {
    margin-left: 49%;
}